name: Checks

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-lint:
    name: Test and Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Lint
        run: pre-commit run --all-files
